.card {
    display: flex;
  }
  .cardImg {
    margin-left: 60px;
    margin-right: 40px;
      align-items: center;
      width: 90%;
      max-width: 500px;
      min-width: 500px;

      position: relative;
      padding-left: 95px;
      padding-bottom: 30px;
      padding-top: 30px;
      box-sizing: border-box;

      $border: 25px;
      color: #FFF;
      background: rgb(60, 71, 198);
      background-clip: padding-box;
      border: 20px solid $border transparent;
      border-radius: 1em;

      &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: 20px linear-gradient(to bottom, red, rgb(251, 255, 0));
      }
    }
