ul:link, ul:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  ul:hover, ul:active {
    background-color: rgb(84, 161, 255);
  }